@using PeyDej.Service
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PeyDej.Models.Report.RepairUnitAgendumOrderActionType

@{
    ViewData["Title"] = "درخواست تعمیر جدید";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h3 xmlns="http://www.w3.org/1999/html">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <form asp-action="CreateRepairUnitAgendumOrderActionType">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="RepairUnitAgendumOrderId" />

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ActionTypeId" class="col-form-label"></label>
                                <select asp-for="ActionTypeId" asp-items="@SystemExtenstion.Select(Model.ActionTypes,"Id","Value")" class="form-control"></select>
                                <span asp-validation-for="ActionTypeId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <input type="submit" value="ذخیره" class="btn btn-primary" />
                                <a asp-action="RepairUnitAgendumOrderIndex" class="btn btn-danger">بازگشت</a>
                            </div>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $('#DateDto').datepicker({
                isRTL: true,
                dateFormat: "yy/mm/dd"
            });
        });

    </script>
}