@model PeyDej.Models.Report.RepairReport

@{
    ViewData["Title"] = "ثبت تعمیر";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h3 xmlns="http://www.w3.org/1999/html">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <form asp-action="RequestCreate">
                    <input type="hidden" asp-for="RepairUnitAgendumOrderId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="FaultCaption" class="control-label"></label>
                                <input asp-for="FaultCaption" class="form-control" />
                                <span asp-validation-for="FaultCaption" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="WorkDescription" class="control-label"></label>
                                <textarea asp-for="WorkDescription" class="form-control"></textarea>
                                <span asp-validation-for="WorkDescription" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="StartRepairDateDto" class="control-label"></label>
                                <input asp-for="StartRepairDateDto" class="form-control" />
                                <span asp-validation-for="StartRepairDateDto" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="StartRepairHour" class="control-label"></label>
                                <input asp-for="StartRepairHour" class="form-control" />
                                <span asp-validation-for="StartRepairHour" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="StartRepairMinute" class="control-label"></label>
                                <input asp-for="StartRepairMinute" class="form-control" />
                                <span asp-validation-for="StartRepairMinute" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="EndRepairDateDto" class="control-label"></label>
                                <input asp-for="EndRepairDateDto" class="form-control" />
                                <span asp-validation-for="EndRepairDateDto" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="EndRepairHour" class="control-label"></label>
                                <input asp-for="EndRepairHour" class="form-control" />
                                <span asp-validation-for="EndRepairHour" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="EndRepairMinute" class="control-label"></label>
                                <input asp-for="EndRepairMinute" class="form-control" />
                                <span asp-validation-for="EndRepairMinute" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <input type="submit" value="ذخیره" class="btn btn-primary" />
                                <a asp-action="RepairReportIndex" class="btn btn-danger">بازگشت</a>
                            </div>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $('#EndRepairDateDto,#StartRepairDateDto').datepicker({
                isRTL: true,
                dateFormat: "yy/mm/dd",
                
            });
        });

    </script>
}