@using PeyDej.Tools
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PeyDej.Data
@inject PeyDejContext _context
@model IEnumerable<PeyDej.Models.Report.RepairRequest>

@{
    ViewData["Title"] = "تعمییرات";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {

    private string? GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="row">
    <div class="col-12 offset-0">
        <h3>@ViewData["Title"]</h3>
        <hr />
        <p>
            <a class="btn btn-primary" asp-action="Create">درخواست تعمیر جدید</a>
            <a class="btn btn-success" target="_blank" asp-action="Print"> پرینت فرم تعمییرات</a>
        </p>
        <hr />
        <style>
            .gCol {
                text-align: center;
            }
        </style>
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Caption).Titled(@Html.DisplayNameFor(model => model.Caption));
                columns.Add(model => model.Reporter).Titled(@Html.DisplayNameFor(model => model.Reporter));
                columns.Add(model => _context.RepairReports.Where(w => w.RepairRequestId == model.Id).Any() == true ? "تایید شده" : "تاییید نشده" ).Titled("وضعیت");
                columns.Add().Titled("ثبت تعمیر").Encoded(false).RenderedAs(model => PeyDejHelper.ActionLink("<i class=\"icon-edit\"></i>", "CreateReport", "Repairs", model.Id, "orange-info", "ثبت تعمیر"));
            })
            .Empty("هیچ ایتمی وجود ندارد")
            .Sortable()
            .Filterable()
            .Using(GridFilterMode.Row)
            .Pageable(pager =>
            {
                pager.PageSizes = new Dictionary<Int32, String> { { 10, "10" }, { 20, "20" }, { 50, "50" }, { 0, "همه" } };
                pager.ShowPageSizes = true;
                pager.PagesToDisplay = 5;
                pager.CurrentPage = 1;
                pager.RowsPerPage = 20;
            })
            .Css("table table-bordered")
            )
    </div>
</div>

