@model IEnumerable<PeyDej.Models.Report.RepairRequest>

@{
    ViewData["Title"] = "تعمیرات";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {

    private string? GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="row">
    <div class="col-12 offset-0">
        <h3>@ViewData["Title"]</h3>
        <hr />
        <p>
            <a class="btn btn-primary" asp-action="Create">درخواست تعمیر جدید</a>
        </p>
        <hr />
        <style>
            .gCol {
                text-align: center;
            }
        </style>
        @Html.AjaxGrid(Url.Action("Index") ?? string.Empty)
    </div>
</div>

