@using PeyDej.Tools
@model IEnumerable<PeyDej.Models.Inspection.MachineIS>


<div class="row">
    <div class="col-8 offset-2">
        <h3>لیست ماشین آلات نیاز به بازرسی</h3>
        <hr/>
        <p>
            <a target="_blank" class="btn btn-primary" asp-action="PrintPage">چاپ فرم</a>
        </p>
        <hr/>
        <style>
            .gCol {
                text-align: center;
            }
        </style>

        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Machines.FirstOrDefault(x => x.Id == model.MachineId).Name).Titled(@Html.DisplayNameFor(model => model.MachineId));
                columns.Add(model => model.InspectionDate).Titled(@Html.DisplayNameFor(model => model.InspectionDate));
                columns.Add(model => model.InspectionFinishedDate).Titled(@Html.DisplayNameFor(model => model.InspectionFinishedDate));
                columns.Add().Titled("ثبت نتایج").Encoded(false).RenderedAs(model =>
                    Html.ActionLink("ثبت نتایج", "Edit", "Motor", new { id = model.Id },
                        new { @class = "btn btn-warning btn-sm" })
                    );
            })
            .Empty("هیچ ایتمی وجود ندارد")
            .Sortable()
            .Filterable()
            .Using(GridFilterMode.Row)
            .Pageable(pager =>
            {
                pager.PageSizes = new Dictionary<Int32, String> { { 10, "10" }, { 20, "20" }, { 50, "50" }, { 0, "همه" } };
                pager.ShowPageSizes = true;
                pager.PagesToDisplay = 5;
                pager.CurrentPage = 1;
                pager.RowsPerPage = 10;
            })
            .Css("table table-secondary table-striped gCol")
            )

    </div>
</div>