@using PeyDej.Tools
@model IEnumerable<PeyDej.Models.Bases.Motor>

@{
    Layout = null;
    var i = 0;
}


<!DOCTYPE html>

<html lang="fa">
<head>
    <title>لیست ماشین آلات نیاز به بازرسی</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
</head>
<body dir="rtl">
<style>
@@media print {
  @@page {
    size: A4;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
  }
  
  body {
    margin: 1.27cm;
  }
  
   h1 {
    font-size: 16pt;
   }
}

th,div{
    text-align: center;
}    

</style>


<div>

    <div class="row">
        <div class="col-12 m-1">
            <h3>لیست ماشین آلات نیاز به بازرسی</h3>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-4 offset-8">
            <p class="text-left">
                <span>تاریخ گزارش: </span>@PeyDejTools.GetCurPersianDate()
            </p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-12">
            <p class="text-left">
                <span>نام و نام حانوادگی پرسنل بررسی کننده: ................................. </span>
            </p>
        </div>
    </div>
    <table class="table">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ردیف</th>
                <th scope="col">نام موتور</th>
                <th scope="col">وضعیت موتور</th>
                <th scope="col">توضیحات</th>

            </tr>
            </thead>
            <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <th scope="row">@(++i)</th>
                    <th scope="row">@m.Name</th>
                    <th scope="row">
                        <input type="checkbox"/>
                    </th>
                    <th scope="row">..............................................................</th>
                </tr>
            }
            </tbody>
        </table>

    </table>
</div>

<script>
 window.print();
 debugger
 window.onafterprint = function (event) {
     debugger
     window.close;
 };
</script>

</body>
</html>