@model PeyDej.Models.Bases.InspectionCategory


@{
    ViewData["Title"] = "ویرایش دسته بازرسی";
}

<div class="row">
    <div class="col-6 offset-3">
        <h3 xmlns="http://www.w3.org/1999/html">@ViewData["Title"]</h3>
        <hr/>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control"/>
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary"/>
                <a asp-action="Index" class="btn btn-danger">انصراف</a>
            </div>
        </form>
    </div>
</div>
