@{
    ViewData["Title"] = "Home Page";
}
<script src="~/Chart.js/echarts.js"></script>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div id="main" style="height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div id="main2" style="height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div id="main3" style="height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div id="main4" style="height:400px;"></div>
            </div>
        </div>
    </div>
   
</div>


<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'))
        .setOption({
            textStyle: {
                fontFamily: "Vazir"
            },
        title: {
                text: 'آمار توقفات دپارتمان ها',
                left: 'center'
        },
        tooltip: {},
        xAxis: {
            data: [ 'کوره', 'خط خشک', 'خط خیس', 'گل سازی', 'محوطه',  ]
        },
        yAxis: {},
        series: [
            {
                name: 'توقفات',
                type: 'bar',
                data: [ 5, 20, 36, 10, 10 ]
            }
        ]
    });
      
    
    var myChart = echarts.init(document.getElementById('main2'))
    .setOption(
            
            option = {
                textStyle: {
                    fontFamily: "Vazir"
                },
                title: {
                    text: 'روند توقفات دپارتمان ها',
                    left: 'center'
                },

                xAxis: {
                    type: 'category',
                    boundaryGap: false
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: [ 0, '30%' ]
                },
                visualMap: {
                    type: 'piecewise',
                    show: false,
                    dimension: 0,
                    seriesIndex: 0,
                    pieces: [
                        {
                            gt: 1,
                            lt: 3,
                            color: 'rgba(0, 0, 180, 0.4)'
                        },
                        {
                            gt: 5,
                            lt: 7,
                            color: 'rgba(0, 0, 180, 0.4)'
                        }
                    ]
                },
                series: [
                    {
                        type: 'line',
                        smooth: 0.6,
                        symbol: 'none',
                        lineStyle: {
                            color: '#5470C6',
                            width: 5
                        },
                        markLine: {
                            symbol: [ 'none', 'none' ],
                            label: { show: false },
                            data: [ { xAxis: 1 }, { xAxis: 3 }, { xAxis: 5 }, { xAxis: 7 } ]
                        },
                        areaStyle: {},
                        data: [
                            [ '2019-10-10', 200 ],
                            [ '2019-10-11', 560 ],
                            [ '2019-10-12', 750 ],
                            [ '2019-10-13', 580 ],
                            [ '2019-10-14', 250 ],
                            [ '2019-10-15', 300 ],
                            [ '2019-10-16', 450 ],
                            [ '2019-10-17', 300 ],
                            [ '2019-10-18', 100 ]
                        ]
                    }
                ]
            }
    );
    var myChart = echarts.init(document.getElementById('main3'))
        .setOption(option = {
            textStyle: {
                fontFamily: "Vazir"
            },
            title: {
                text: 'درصد فراوانی علل توقفات',
                //subtext: 'علل',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 'left'
            },
            series: [
                {
                    name: 'علت',
                    type: 'pie',
                    radius: '50%',
                    data: [
                        { value: 10, name: 'کوره' },
                        { value: 20, name: 'خط خشک' },
                        { value: 40, name: 'خط خیس' },
                        { value: 20, name: 'گل سازی' },
                        { value: 10, name: 'خشک کن' }
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        });
    var myChart = echarts.init(document.getElementById('main4'))
        .setOption(option = {
            textStyle: {
                fontFamily: "Vazir"
            },
            title: {
                text: 'درصد توزیع توقفات ',
                subtext: 'علل',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 'left'
            },
            series: [
                {
                    name: 'علت',
                    type: 'pie',
                    radius: '50%',
                    data: [
                        { value: 40, name: 'مکانیکی' },
                        { value: 35, name: 'تاسیسات' },
                        { value: 25, name: 'برقی' },
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        });

</script>