@using PeyDej.Tools
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PeyDej.Models.Bases.Motor>

@{
    ViewData["Title"] = "لیست فعالیت های روزانه";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {

    private string? GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="row">
    <div class="col-12 offset-0">
        <h3>@ViewData["Title"]</h3>
        <hr />
        @*   <p>
            <a class="btn btn-primary" asp-action="Create">معرفی موتور جدید</a>
        </p>
        <hr />
        *@
        <style>
            .gCol {
                text-align: center;
            }
        </style>
       
    </div>
</div>

