@model PeyDej.Models.Report.LoadingReport

@{
    ViewData["Title"] = "ایجاد تولید روزانه";
}

<div class="row">
    <div class="col-4 offset-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Date" class="text-center control-label"></label>
                        <input readonly="readonly" id="date" asp-for="Date" class="text-center form-control"/>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="DayCaption" class="control-label"></label>
                        <input asp-for="DayCaption" class="form-control"/>
                        <span asp-validation-for="DayCaption" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="LoadingIntervalId" class="control-label"></label>
                        <select asp-items="ViewBag.LoadingInterval" class="form-control"></select>
                        <span asp-validation-for="LoadingIntervalId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="BladKindId" class="control-label"></label>
                        <select asp-items="ViewBag.BladKind" class="form-control"></select>
                        <span asp-validation-for="BladKindId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="OtherBladCaption" class="control-label"></label>
                        <input asp-for="OtherBladCaption" class="form-control"/>
                        <span asp-validation-for="OtherBladCaption" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
                <a asp-action="Index" class="btn btn-danger">بازگشت</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
    $(function(){
        $('#date').datepicker({
            isRTL: true,
            dateFormat: "yy/mm/dd"
        });
    });
   
</script>
}