@model PeyDej.Models.Report.LoadingReport

@{
    ViewData["Title"] = "ویرایش تولید روزانه";
}

<div class="row">
    <div class="col-10 offcet-2">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Date" class="text-center control-label"></label>
                        <input readonly="readonly" id="date" asp-for="Date" class="text-center form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="LoadingCount" class="control-label"></label>
                        <input asp-for="LoadingCount" class="form-control" />
                        <span asp-validation-for="LoadingCount" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">بازگشت</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $('#date').datepicker({
                isRTL: true,
                dateFormat: "yy/mm/dd"
            });
        });

    </script>
}